

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", system-ui;
}

.box {
	width: 100%;
}

.box div {
	height: 60px;
	width: 60px;
	position: absolute;
	top: 10%;
	left: 10%;
	animation: animate 4s linear infinite;
	background: rgba(255, 255, 255, 0.055);
	border-radius: 15px;
  overflow: hidden;
}

.box div:nth-child(1) {
	top: 20%;
	left: 20%;
	animation: animate 8s linear infinite;
}
.box div:nth-child(2) {
	top: 26%;
	left: 89%;
	animation: animate 10s linear infinite;
}
.box div:nth-child(3) {
	top: 80%;
	left: 90%;
	animation: animate 5s linear infinite;
}
.box div:nth-child(4) {
	top: 65%;
	left: 75%;
	animation: animate 7s linear infinite;
}
.box div:nth-child(5) {
	top: 90%;
	left: 10%;
	animation: animate 9s linear infinite;
}
.box div:nth-child(6) {
	top: 30%;
	left: 60%;
	animation: animate 5s linear infinite;
}
.box div:nth-child(7) {
	top: 70%;
	left: 33%;
	animation: animate 8s linear infinite;
}
.box div:nth-child(8) {
	top: 75%;
	left: 60%;
	animation: animate 10s linear infinite;
}
.box div:nth-child(9) {
	top: 23%;
	left: 50%;
	animation: animate 6s linear infinite;
}
.box div:nth-child(10) {
	top: 35%;
	left: 7%;
	animation: animate 10s linear infinite;
}

@keyframes animate {
	0% {
		transform: scale(0) translateY(0) rotate(50deg);
	}
	100% {
		transform: scale(1.6) translateY(-250px) rotate(360deg);
	}
}


.container {
  background: linear-gradient(180deg, #3d3b7c, #423e77);
  display: flex;
  row-gap: 18px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.container h1 {
  font-size: 60px;
  color: #fff;
  font-weight: 800;
  text-align: center;
  letter-spacing: 8px;
}

.container p {
  font-size: 18px;
  font-weight: 550;
  color: #fff;
  max-width: 550px;
  text-align: center;
}

.container .time-content {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.time-content .time {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.time .number,
.time .text {
  font-weight: 650;
  color: #fff;
}

.time .number {
  font-size: 40px;
}

.time .text {
  text-transform: capitalize;
  font-size: 12px;
}

@media screen and (max-width: 482px) {
  .container h1 {
    font-size: 50px;
  }
}

.wrapper{
  display: inline-flex;
}
.wrapper .icon{
  margin: 0 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: .4s
}
.wrapper .icon span{
  display: block;
  height: 60px;
  width: 60px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  transition:.4s
}
.wrapper .icon span i{
  line-height: 60px;
  font-size: 25px;
}
.wrapper .icon:hover span{
  color: #fff;
}

.wrapper .discord:hover:hover span,
.wrapper .discord:hover .tooltip:before{
  background: #4d77d1;
}
.wrapper .telegram:hover span,
.wrapper .telegram:hover .tooltip:before{
  background: #42b5e6;
}